version: 2
jobs:
  build:
    docker:
      - image: circleci/python:2.7.15-jessie-browsers
    working_directory: ~/siyavula.latex2image
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install -r requirements.txt
            pip install -e .
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            nosetests --with-coverage --cover-package=siyavula.latex2image siyavula/latex2image/tests
      - store_artifacts:
          path: test-reports
          destination: test-reports
